@import "../../font-awesome/scss/font-awesome.css";
$todoHeight: 35px;
.todo {
    padding-left: 34px;
    line-height: $todoHeight;
    transition: height ease-in-out .3s;
    overflow: hidden;
    input[type="checkbox"] {
        display: none;
        &:checked+label span::after {
            content: '\f00c';
            font-family: 'FontAwesome';
            left: -29px;
            top: -8px;
            transition: color .2s;
        }
    }
    &.completed {
        label {
            text-decoration: line-through;
        }
    }
    label {
        position: relative;
         :hover {
            cursor: pointer;
        }
        span {
            &::before,
            &::after {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
            }
            &::before {
                width: 27px;
                height: 27px;
                background-color: #ddd;
                left: -35px;
                box-sizing: border-box;
                border: 3px solid transparent;
            }
            &:hover::before {
                border: 3px solid #F0FF76;
            }
        }
    }
    &.hide {
        height: 0;
    }
    &.shown {
        height: $todoHeight;
    }
}