.todo {
    padding-left: 27px;
    input[type="checkbox"] {
        display: none;
    }
    label {
        position: relative;
         :hover {
            cursor: pointer;
        }
        span {
            &::before,
            &::after {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
            }
            &::before {
                width: 27px;
                height: 27px;
                background-color: #fff;
                left: -35px;
                box-sizing: border-box;
                border: 3px solid transparent;
                transition: border-color .2s;
            }
            &:hover::before {
                border: 3px solid #F0FF76;
            }
            &::after {
                content: '\f00c';
                font-family: 'FontAwesome';
                left: -31px;
                top: 2px;
                color: transparent;
                transition: color .2s;
            }
        }
    }
}